on:
    workflow_dispatch:
    schedule:
        - cron: "0 0 * * 6"

env:
  version: m125-665b0e8923

jobs:
  windows:
    runs-on: windows-2019
    strategy:
      matrix:
        machine: ["x64"]
        build_type: [Release, Debug]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - shell: bash
        run: python3 script/check_release.py --version ${{ env.version }} --build-type ${{ matrix.build_type }} --machine ${{ matrix.machine }}
        if: ${{ github.event.inputs.skip_release != 'true' }}
        env:
          API_TOKEN: ${{ secrets.API_TOKEN }}
      - name: Install LLVM and Clang
        uses: KyleMayes/install-llvm-action@v1
        with:
            version: "15.0.7"
      - name: 'Check clang version'
        shell: cmd
        run:  clang --version
      - shell: bash
        run: python3 -u script/checkout.py --version ${{ env.version }} --machine ${{ matrix.machine }}
      - shell: bash
        run: python3 -u script/build.py --build-type ${{ matrix.build_type }} --machine ${{ matrix.machine }}
      - shell: bash
        run: python3 -u script/archive.py --version ${{ env.version }} --build-type ${{ matrix.build_type }} --machine ${{ matrix.machine }}
      - name: Upload binaries to tag
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: Skia-${{ env.version }}-windows-${{ matrix.build_type }}-${{ matrix.machine }}.zip
          asset_name: Skia-${{ env.version }}-windows-${{ matrix.build_type }}-${{ matrix.machine }}.zip
          tag: refs/tags/${{ env.version }}
          overwrite: true
